.venv
.idea
.pytest_cache
.github

**/__pycache__
**/*.log
**/response
**/reports
**/allure-report
**/allure-results

tests/test-results/logs/*
tests/test-results/responses/*
tests/test-results/videos/*
tests/test-results/allure-reports/*

.env
.env.local
.env.*.local